<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2>MI EJEMPLO DE LAYOUT</h2>
    <img src="https://www.vendedoresenlinea.com/assets/images/logo-dark.png" />
    <div class="row">
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    
</body>
</html>
